@CHARSET "UTF-8";
.mbookinbox{
	border: 1px solid #ccc;
	padding:10px;
	margin:-1px 0px;
}

.input-group{
	margin:10px auto;
	min-height:35px;
}

.selecttxt{
	font-size:14px;
	background-color:#D5CFDE;
	display:block;
	margin-bottom:10px;
	min-height:30px;
	text-align:center;
	height:25px; 
	line-height:25px; 
}
.footer span{
	display:block;
	min-height:30px;
	text-align:center;
	height:25px; 
	line-height:25px; 
	width:100%;
	font-size:14px;
}

.booktitle{
	font-size:14px;
	font-weight:bold;
	padding-top:3px;
}

.input-group-addon{
	min-width:200px;
}

.flagsold{
	margin-top:30px;
	min-width: 80px;
}

.search_now_price {
	font-family: arial,'Hiragino Sans GB',"Simsun";
	color: #FA5000;
	font-size: 14px;
	overflow: hidden;
	font-weight: bold;
	margin-right: 10px;
}
.search_pre_price {
	color: #969696;
	text-decoration: line-through;
	font-size: 12px;
	font-weight: normal;
	font-family: arial,'Hiragino Sans GB',"Simsun";
}
.search_discount {
	color: #969696;
	font-size: 12px;
	font-weight: normal;
	font-family: arial,'Hiragino Sans GB',"Simsun";
}