.header {
	background: #222;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	padding: 138px 0 0;
	text-align: center;
	min-height: 400px;
	position: relative
}

.logotxt {
	margin-bottom: 30px;
	border: 0
}

.logotxt a {
	font-weight: 700;
	color: #fff;
	font-size: 64px
}

.header h2 {
	color: #fff;
	padding: 0;
	margin: 0 0 45px;
	font-weight: 100;
	font-size: 34px
}
#userinfo{
	margin-top : 50px;
	margin-left : 200px;
	align : center;
	color:red;
}

#form{
	margin-top : 80px;
	margin-left : 200px;
}

#lastlable{
	margin-bottom:80px;
}

#button{
	margin-top:80px;
	text-align:center;
}


#middle{
	margin-top:50px;
}

#tab{
	list-style:none;
}



#sold{
	float:left;
	margin-right:20px;
}
/*sb*/
.sb-container{
	width:800px;
	margin:30px;
	margin-left: auto;
	margin-right: auto;
	background:#f9f9f9;
	border-radius:10px;
	padding:20px;
}
.sb-book-info{
	margin-bottom:0px;
}
.sb-book-info dt{

	float:left;
	font-weight:bold;
	margin-right:20px;
	padding:5px;
	width:100px;
	text-align:right;
}
.sb-book-info dd {
	padding:5px 0;
	height:30px;
}
.sb-book-info span{
	color:#ff6aa2;
}
.sb-book-info input{
	width:600px;
}
.sb-book-info2{
	margin-left:30px;
	margin-bottom:0px;
}
.sb-book-info2 dt{
	float:left;
	padding:5px;
	margin-right:20px;
}
.sb-book-info2 textarea{
	border-style: none;
	padding:5px;
}
.sb-book-info2 select{
	padding£º5px;
	border-style: none;
	height:25px;
}
