a:hover{
	text-decoration: none;
}
.regform .alert{
	padding: 6px 15px;
}

.loginform{
	padding:20px;
}
.top{
	width: 100%;
	height: 35px;
	background: #2e87dd;
	border-bottom: 1px solid #999;
}
.top a{
	color: #fff;
	display: block;
	height: 34px;
	padding: 7px 20px 0px 20px;
	font-size: 14px;
	border: 1px solid #aaa;
	border-top: 0;
	border-bottom: 0;
	margin-right: -1px;
	cursor: pointer;
}
.top a:hover{
	text-decoration: none;
	background: #3e97dd;
	
}
.top .menu-left{
	float: left;
}
.top .menu-right{
	float: right;
}
.wrapper{
	width: 1100px;
	margin: 0 auto;
}

.header {
	background: #222;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	padding: 138px 0 0;
	text-align: center;
	min-height: 400px;
	position: relative
}

.logotxt {
	margin-bottom: 30px;
	border: 0
}

.logotxt a {
	font-weight: 700;
	color: #fff;
	font-size: 64px
}

.header h2 {
	color: #fff;
	padding: 0;
	margin: 0 0 45px;
	font-weight: 100;
	font-size: 34px
}
#userinfo{
	margin-top : 50px;
	margin-left : 200px;
	align : center;
	color:red;
}

/* #form{
	margin-top : 80px;
	margin-left : 200px;
} */

#lastlable{
	margin-bottom:80px;
}

#button{
	margin-top:80px;
	text-align:center;
}


#middle{
	margin-top:50px;
}

#tab{
	list-style:none;
}



#sold{
	float:left;
	margin-right:20px;
}
/*sb*/
.sb-container{
	width:800px;
	margin:30px;
	margin-left: auto;
	margin-right: auto;
	background:#f9f9f9;
	border-radius:10px;
	padding:20px;
}
.sb-book-info{
	margin-bottom:0px;
}
.sb-book-info dt{

	float:left;
	font-weight:bold;
	margin-right:20px;
	padding:5px;
	width:100px;
	text-align:right;
}
.sb-book-info dd {
	padding:5px 0;
	height:30px;
}
.sb-book-info span{
	color:#ff6aa2;
}
.sb-book-info input{
	width:600px;
}
.sb-book-info2{
	margin-left:30px;
	margin-bottom:0px;
}
.sb-book-info2 dt{
	float:left;
	padding:5px;
	margin-right:20px;
}
.sb-book-info2 textarea{
	border-style: none;
	padding:5px;
}
.sb-book-info2 select{
	padding:5px;
	border-style: none;
	height:25px;
}
