{!extends file='base.html'!} {!block name=base!}
<div class="row">
	<div class="header"
		style="background-image: url(/static/images/bg.jpg)">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="logotxt">
						<h1>
							<a href="http://www.mallschool.com">MallSchool</a>
						</h1>
					</div>
					<h2 class="text-center">喵校园</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="text-align: center">
	<div class="col-md-12">
		<a href="/sb"><img src="/static/images/caidan1.jpg" alt="..." class="img-rounded"	style="height: 100px; margin: 30px" /> </a>
		<a href="/bb"><img src="/static/images/caidan2.jpg" alt="..." class="img-rounded" 	style="height: 100px; margin: 30px" /> </a>
		<img src="/static/images/caidan3.jpg" alt="..." class="img-rounded" 	style="height: 100px; margin: 30px" /> 
		<img src="/static/images/caidan4.jpg" alt="..." class="img-rounded" 	style="height: 100px; margin: 30px" />
	</div>
</div>
{!/block!}
