{!extends file='base.html'!} {!block name=base!}
<div class="container-fluid">
	<div class="row">
		<div class="header" style="background-image: url(/static/images/bg.png);width:100%">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img src="/static/images/ico/logo.png" alt=""  /> 
			</div>
		</div>
	</div>
	<div class="row" style="text-align: center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<a href="/sb"><img src="/static/images/menu/menu1.png" alt="..." class="img-rounded"	style="height: 100px; margin: 30px" /> </a>
			<a href="/bb"><img src="/static/images/menu/menu2.png" alt="..." class="img-rounded" 	style="height: 100px; margin: 30px" /> </a>
			<img src="/static/images/menu/menu3.png" alt="..." class="img-rounded" 	style="height: 100px; margin: 30px" /> 
			<img src="/static/images/menu/menu4.png" alt="..." class="img-rounded" 	style="height: 100px; margin: 30px" />
		</div>
	</div>
</div>
{!/block!}
