<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>喵校园 手机版</title>

<!-- Bootstrap -->
<link
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/static/css/m/1/basic.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script data-main="/static/js/main" src="/static/js/require.js"></script>
<script>
function GetRequest() {
   var url = location.search; //获取url中"?"符后的字串
   var theRequest = new Object();
   if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i ++) {
         theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
      }
   }
   return theRequest;
}
function GetNickName(woid) {
	//从数据库中获取用户的昵称和头像地址
   return woid;
}
$(function(){
	var Request=GetRequest();
	if(null==Request["wopenid"]){
		document.getElementById('unlogin').style.display = "";
		document.getElementById('login').style.display = "none";
	}else{
		var userinfo = GetNickName(Request['wopenid']);
		$("#usernickname").html(userinfo); 
		document.getElementById('login').style.display = "";
		document.getElementById('unlogin').style.display = "none";
	}
});
</script>
</head>
<body>
<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 header" id="login">
		<img src="/static/images/head.jpg" alt="" width="30px" height="30px"/>
		<a>亲爱的：</a>
		<a id="usernickname"></a>
	</div>
	<div class="col-xs-12 header" id="unlogin">
		<p>未登录</p>
	</div>
</div>
	{!block name=main!} {!/block!}
<div class="row" style="margin:8px 0px 0px 0px;">
	<div class="col-xs-6 footer">
		<span class="label label-primary">返回首页</span>
	</div>
	<div class="col-xs-6 footer">
		<span class="label label-success">我要买书</span>
	</div>
	<div class="col-xs-6 footer">
		<span class="label label-info">我要卖书</span>
	</div>
	<div class="col-xs-6 footer">
		<span class="label label-warning">联系我们</span>
	</div>
</div>
</div>
</body>
</html>