<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>喵校园 手机版</title>

<!-- Bootstrap -->
<link
	href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/static/css/m/1/basic.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script data-main="/static/js/main" src="/static/js/require.js"></script>
</head>
<body>
<div class="container-fluid">
<div class=""></div>
	{!block name=main!} {!/block!}
<div class="row" style="margin:8px 0px 0px 0px;">
	<div class="col-xs-3 footer">
		<span class="label label-primary">返回首页</span>
	</div>
	<div class="col-xs-3 footer">
		<span class="label label-success">我要买书</span>
	</div>
	<div class="col-xs-3 footer">
		<span class="label label-info">我要卖书</span>
	</div>
	<div class="col-xs-3 footer">
		<span class="label label-warning">联系我们</span>
	</div>
</div>
</div>
</body>
</html>