{!extends file='mlayout.html'!}
{!block name=main!}
<link href="/static/css/m/1/binding.css" rel="stylesheet">
<div class="row">
	<div class="col-xs-12">
		<p>绑定微信帐号后，从微信登录喵校园可以免登录，享受便捷服务</p>
		<form class="form-horizontal" >
		  <div class="form-group">
		    <label class="col-xs-3 control-label">用户名</label>
		    <div class="col-xs-8">
		      <input type="text" class="form-control" id="inputEmail3" >
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-xs-3 control-label">密码</label>
		    <div class="col-xs-8">
		      <input type="password" class="form-control" id="inputPassword3" >
		    </div>
		  </div>
		  <div class="form-group">
		  	<div class="col-xs-8 col-xs-offset-3">
		      <button type="submit" class="btn btn-default">确认绑定</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
{!/block!}
