{!extends file='mbase.html'!}
{!block name=main!}
<div class="row">
	<div class="col-xs-12">
		<div class="input-group">
		  <input type="text" class="form-control">
		  <span class="input-group-btn">
	        <button class="btn btn-default" type="button">搜</button>
	      </span>
		</div>
	</div>
	<input type="hidden" id="hiddeninput">
	<div class="col-xs-5 col-xs-offset-1">
		<div class="checkbox">
		    <input type="checkbox" value="">只看认证学生
		</div>
	</div>
	<div class="col-xs-5">
		<div class="checkbox">
		    <input type="checkbox" value="">只看二手书
		</div>
	</div>
	<div class="col-xs-12">
		<div class="row mbookinbox">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<p class="booktitle">
					<span >这是一个标题</span>
				</p>
				<p class="price" > 
					<span class="search_now_price">&yen;41.30</span>
					<span class="search_pre_price">&yen;49.80</span>
					<span class="search_discount">&nbsp;(8.3折) </span>
				</p>
				<p class="search_book_author">
				<span>明日科技　编著</span>
				<span > /2012-09-01</span>
				<span>  /清华大学出版社</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<button type="button" class="btn btn-info flagsold  btn-block" >立即购买</button>
			</div>
		</div>
		<div class="row mbookinbox">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<p class="booktitle">
					<span >这是一个标题</span>
				</p>
				<p class="price" > 
					<span class="search_now_price">&yen;41.30</span>
					<span class="search_pre_price">&yen;49.80</span>
					<span class="search_discount">&nbsp;(8.3折) </span>
				</p>
				<p class="search_book_author">
				<span>明日科技　编著</span>
				<span > /2012-09-01</span>
				<span>  /清华大学出版社</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<button type="button" class="btn btn-info flagsold  btn-block" >立即购买</button>
			</div>
		</div>
		<div class="row mbookinbox">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<p class="booktitle">
					<span >这是一个标题</span>
				</p>
				<p class="price" > 
					<span class="search_now_price">&yen;41.30</span>
					<span class="search_pre_price">&yen;49.80</span>
					<span class="search_discount">&nbsp;(8.3折) </span>
				</p>
				<p class="search_book_author">
				<span>明日科技　编著</span>
				<span > /2012-09-01</span>
				<span>  /清华大学出版社</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<button type="button" class="btn btn-info flagsold  btn-block" >立即购买</button>
			</div>
		</div>
	</div>
</div>
{!/block!}
