{!extends file='layout.html'!}
{!block name=main!}
<div class="">
<form  method="post">
	<div class="sb-container">
	<dl class="sb-book-info"> 
	<dt>书名: </dt> 
	<dd><input class="r3" type="text" name="unick" style="border-style: none;"></dd>
	<dt>作者: </dt> 
	<dd><input class="r3" type="text" name="unick" style="border-style: none;"></dd> 
	<dt>出版社: </dt> 
	<dd><input class="r3" type="text" name="unick" style="border-style: none;"></dd> 
	<dt>ISBN:</dt> 
	<dd><input class="r3" type="text" name="unick" style="border-style: none;"></dd> 
	</dl>
	</div>
	<div class="sb-container">
	<dl class="sb-book-info"> 
	<dt>联系方式: </dt> 
	<dd><span>认证用户可见</span></dd>
	<dt>地址: </dt> 
	<dd><input class="r3" type="text" name="unick" style="border-style: none;"></dd> 
	<dt>手机号: </dt> 
	<dd><input class="r3" type="text" name="unick" style="border-style: none;"></dd> 
	<dt>价格:</dt> 
	<dd><input class="r3" type="text" name="unick" style="border-style: none;"></dd> 
	</dl>
	</div>
	<div class="sb-container">
	<dl class="sb-book-info2"> 
	<dt style="color:#ff6aa2; width:100%;">信息填写得越完整越利于出售，我们将信息完整程度作为排名规则之一 </dt> 

	<dt>用户自定义描述: </dt> 
	<dd><textarea rows="3" cols="87" style="border-style: none;"></textarea></dd> 
	<dt>适用于学校选项: </dt> 
	<dd><select name="" id="">   
        <option value="1">同济大学</option>   
        <option value="2">复旦大学</option>   
        <option value="3">上海大学</option>   
        <option value="4">上海交通大学</option>              
      </select>  </dd> 
	</dl>
	</div>
	<div class="sb-container">
	<img src="/static/images/pic.jpg">
	</div>
	<div class="sb-container" style="height:62px;">
	<span style="float:right;color:#77CEFF;font-weight: bold;">二手书</span><input type="checkbox" name="book" value="" checked style="float:right; margin-right:10px;">
	<input type="submit" name="Submit" value="发布" style="background-color:#77CEFF; float:right;color:#FFFFFF;width:100px;margin-right:20px;">
	</div>
	
</form>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
               aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
             请先登陆（登陆是一种态度）
            </h4>
         </div>
         <div class="modal-body" style="text-align: center">
            <div><span>账号：</span><input type="text" name="" style="margin-bottom:5px;"></div>
            <div><span>密码：</span><input type="password" name="" ></div>
         </div>
         <div class="modal-footer">
            <input type="submit" name="" >
            <a> 忘记密码</a>
            <a> 新用户注册</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
   $(function () { $('#myModal').modal({
	   keyboard: true
   })});
</script>
{!/block!}