{!extends file='layout.html'!}
{!block name=main!}
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12  userinfobox">
		<div id="userinfo">
			<img alt="头像" src="/static/images/head.jpg" width="100px">
			<span style="font-family:Microsoft YaHei ;margin-left:20px;">往事深处少年蓝</span>	
			<span class="rightbelow">共收藏了32本</span>
		</div>
	</div>
</div>
<script>

	require([ 'view/user/Favorites' ], function(vFavorates) {
		var vf = new vFavorates();
	})
</script>
<div class="row">
	<div id="fav-list" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 mybookbox" ng-controller="PhoneListCtrl">
		
	</div>
</div>
<script>

</script>
{!/block!}