{!extends file='layout.html'!}
{!block name=main!}
<div class="row">
	<div class="col-md-8 col-md-offset-2 userinfobox">
		<div id="userinfo">
			<img alt="头像" src="/static/images/head.jpg" width="100px">
			<span style="font-family:Microsoft YaHei ;margin-left:20px;">往事深处少年蓝</span>	
			<span class="rightbelow">共收藏了32本</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 mybookbox">
		<div class="row bookinbox2">
			<div class="col-md-2" style="height:100px">
				<img src="/static/images/book.jpg" alt="" class="pic" style="height:100px;width:70px;margin-left:30px;" />
			</div>
			<div class="col-md-8">
				<p class="booktitle">
					<span >这是一个标题</span>
				</p>
				<p class="price" > 
					<span class="search_now_price">&yen;41.30</span>
					<span class="search_pre_price">&yen;49.80</span>
					<span class="search_discount">&nbsp;(8.3折) </span>
				</p>
				<p class="search_book_author">
				<span>明日科技　编著</span>
				<span > /2012-09-01</span>
				<span>  /清华大学出版社</span>
				</p>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-info flagsold" >取消收藏</button>
			</div>
		</div>
		<div class="row bookinbox2">
			<div class="col-md-2" style="height:100px">
				<img src="/static/images/book.jpg" alt="" class="pic" style="height:100px;width:70px;margin-left:30px;" />
			</div>
			<div class="col-md-8">
				<p class="booktitle">
					<span >这是一个标题</span>
				</p>
				<p class="price" > 
					<span class="search_now_price">&yen;41.30</span>
					<span class="search_pre_price">&yen;49.80</span>
					<span class="search_discount">&nbsp;(8.3折) </span>
				</p>
				<p class="search_book_author">
				<span>明日科技　编著</span>
				<span > /2012-09-01</span>
				<span>  /清华大学出版社</span>
				</p>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-info flagsold" >取消收藏</button>
			</div>
		</div>
	</div>
</div>
{!/block!}