{!extends file='layout.html'!}
{!block name=main!}
<div class="row">
	<div class="col-md-8 col-md-offset-2 userinfobox">
		<div id="userinfo">
			<img alt="头像" src="/static/images/head.jpg" width="100px">
			<span style="font-family:Microsoft YaHei ;margin-left:20px;">往事深处少年蓝</span>	
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2" style="margin-top:20px;margin-bottom:-70px;">
		<label>这是你第一次登陆网站，补全下述信息有利于您快速发布交易信息</label>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<form role="form" id="userinfoform" >
				<div class="form-group userinfobox" style="padding-top: 10px">
				
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">昵称</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="昵称是在交易或者社交过程中，别人看到的称呼">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">学校</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="选择你的学校，让更多校友找到你">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">QQ</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="可以选择QQ作为交易过程的指定联系方式">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
	
					<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">微信</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="可以选择微信作为交易过程的指定联系方式">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">手机号</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="可以选择手机作为交易过程的指定联系方式">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>

			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">邮箱</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="可以选择邮箱作为交易过程的指定联系方式">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">交易地点</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="默认的交易地点，发布交易信息时可以切换">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>

			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">首选联系方式</label>
				   		</div>
				    	<div class="col-md-8">
				      		<input type="text" class="form-control" placeholder="默认的联系方式，发布交易信息时可以切换">
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
			   			<div class="col-md-4 col-md-offset-4" >
			   				<button type="button" class="btn btn-info"  style="width:200px;margin-top:10px">确认提交</button>
			   			</div>
			   		</div>
				</div>
			</form>
		</div>
	</div>
</div>






{!/block!}
