{!extends file='layout.html'!}
{!block name=main!}
<script type="text/javascript">
$(function(){
	var fm = $("#userinfoform");
	fm.find("[type=button]").click(function(){
		alert("hello");
		data = {"name" : "深蓝",
				"id" : "帐号是多少"
				}
		var name = $("#name");
		name.val(data.name);
		var id = $("#id");
		id.val(data.id);
	})
})

</script>

<div class="row">
	<div class="col-md-8 col-md-offset-2 userinfobox">
		<div id="userinfo">
			<img alt="头像" src="/static/images/head.jpg" width="100px">
			<span style="font-family:Microsoft YaHei ;margin-left:20px;">往事深处少年蓝</span>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<form role="form" id="userinfoform" >
				<div class="form-group userinfobox" style="padding-top: 10px">

			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">昵称</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">昵称</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">帐号</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">帐号</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">院校</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">院校</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">QQ</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">QQ</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">微信</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">微信</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">手机号</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">手机号</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">邮箱</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">邮箱</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
					<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">交易地</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">交易地</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-md-2">
				   			<label for="inputPassword" class="control-label title">联系方式</label>
				   		</div>
				    	<div class="col-md-8">
				      		<label for="inputPassword" class="control-label"  id="name">联系方式</label>
				   		</div>
				   		<div class="col-md-2 userinfoedit">
				   			<a><span class="glyphicon glyphicon-edit"></span>编辑</a>
				   		</div>
				   		<div class="col-md-10 col-md-offset-1" 
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
				</div>
			</form>
		</div>
	</div>
</div>






{!/block!}
