{!extends file='layout.html'!}
{!block name=main!}
<script type="text/javascript">
require(['model/User'], function(mUser) {
	var muser = new mUser;
	muser.getFromSession();
	var fm = $("#userinfoform");
	fm.find("#submit").click(function(){
		var f = $("#userinfoform");
		$.ajax({ url: "http://api.jige.olege.com/user", 
			type : "PUT",
			data: {id : muser.get("id"), nickname: $("#nickname").val(), college: $("#college").val(), qq: $("#qq").val(), place: $("#place").val()},
			success: function(){
				alert("修改成功");
			},
			error:function(){
				alert("error");
			}
		});
	});
	$.ajax({
		url: API_URL+'/user',
		type : "get",
		data: {id :muser.get("id")},
		dataType:"json",
		success: function(data){
			alert(JSON.stringify( data));
	   		var realname = $("#nickname");
	   		realname.val(data.data.nickname);
	   		var id = $("#tel");
	   		id.val(data.data.tel);
	   		var school = $("#place");
	   		school.val(data.data.place);
	   		var qq = $("#qq");
	   		qq.val(data.data.qq);
	   		var email = $("#email");
	   		email.val(data.data.email);
		}}
	);
});




</script>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 userinfobox">
		<div id="userinfo">
			<img alt="头像" src="/static/images/ico/touxiang100.png" width="100px">
			<label id="nickname1" style="font-family:Microsoft YaHei ;margin-left:20px;">往事深处少年蓝</label>	
		</div>
	</div>
</div>
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 " style="margin-top:50px; margin-bottom:-50px;" >
	<p>单击内容即可修改，邮箱不可修改</p>
</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 ">
		<div class="row">
			<form role="form" id="userinfoform" >
				<div class="form-group userinfobox" style="padding-top: 10px">
				
					<div class="row">
				   		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				   			<label  class="control-label title">邮箱</label>
				   		</div>
				    	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
				      		<a type="text" class="control-label" id="email"></a>
				   		</div>
				   		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"  
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				   			<label  class="control-label title">昵称</label>
				   		</div>
				    	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
				      		<input type="text" class="control-label" id="nickname"/>
				   		</div>
				   		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"  
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				   			<label  class="control-label title">院校</label>
				   		</div>
				    	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
				      		<input type="text" class="control-label" id="college"/>
				   		</div>
				   		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"  
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				   			<label  class="control-label title">QQ</label>
				   		</div>
				    	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
				      		<input type="text" class="control-label" id="qq"/>
				   		</div>
				   		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"  
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		<div class="row">
				   		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				   			<label  class="control-label title">手机号</label>
				   		</div>
				    	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
				      		<input type="text" class="control-label" id="tel"/>
				   		</div>
				   		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"  
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
			   		
			   		
			   		
					<div class="row">
				   		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				   			<label  class="control-label title">交易地</label>
				   		</div>
				    	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
				      		<input type="text" class="control-label" id="place"/>
				   		</div>
				   		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"  
							style="height: 1px; margin-top: 3px; background-color: #D5D5D5; overflow: hidden;"></div>
			   		</div>
				</div>

				<div id = "ibutton">
				   <button type="button" id="submit" class="btn btn-primary" style = " min-width : 120px;">
     				 保存
   					</button>
   					   <button type="button" class="btn btn-primary" style = " min-width : 120px;">
     				 取消
  					 </button>
  				</div>
			</form>
		</div>
	</div>
</div>






{!/block!}
