{!extends file='layout.html'!} {!block name=main!}
<div class="row">
	<div
		class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2  col-sm-10 col-sm-offset-1 col-xs-12 userinfobox">
		<div id="userinfo">
			<img alt="头像" src="/static/images/ico/touxiang100.png"   width="100px"> <span
				style="font-family: Microsoft YaHei; margin-left: 20px;">往事深处少年蓝</span>
			<!-- <span class="rightbelow">共发布了88本</span> -->
		</div>
	</div>
</div>
<script>
	require([ 'view/user/Mybooks' ], function(vMybooks) {
		var mb = new vMybooks();
	})
</script>
<div class="row">
	<div
		class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2  col-sm-10 col-sm-offset-1 col-xs-12 mybookbox">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#selling" role="tab" data-toggle="tab">未出售</a></li>
			<li><a href="#selled" role="tab" data-toggle="tab">已出售</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="selling">
				
			</div>
			<div class="tab-pane" id="selled">
				
			</div>
		</div>


	</div>
</div>

{!/block!}
